* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #3a0ca3, #4463ee, #6a83f1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  width: 260px;
  background-color: #6a83f1;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  border-radius: 9px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

button {
  font-size: 40px;
  font-weight: 700;
  background-color: #6a83f1;
  border-style: none;
  cursor: pointer;
}

.number {
  width: 40%;
  display: grid;
  place-items: center;
  border-left: solid #dae0fb;
  border-right: solid #dae0fb;
}
